
body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        background-color: rgb(215, 242, 250);
        line-height: 20px;
        line-height: 20px;
        font-weight: 100;


}
h1 {
        font-family:'Roboto', Arial, Helvetica, sans-serif;
        line-height: 20px;
        font-weight: 100;
        color: black;
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    
        
}

.font-style {
    font-family:'Open Sans', sans-serif;
    margin-left: 50px;
    display: inline-block
    

}

    .picture {
        border-radius: 30%;
        margin-left: 180px;
        line-height: 40px;
        margin-bottom: 30px;
        margin-top: 40px;
        width: 200px;
    }

    h3 {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        line-height: 30px;
        margin-left: 100px;
        height: auto;
        width:  150.px 
    }


    .button { 
        padding: 10px 20px;
        text-decoration: none;
        background-color: rgba(16, 162, 230, 0.952);
        color: #fff;
        margin-left: 200px;
        margin-top: 10px;

    }

    .list-style {
        margin-left: 100px;
        height: auto;

    }
    


    