
body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        background-color: rgb(215, 242, 250);
        line-height: 20px;
        line-height: 20px;
        font-weight: 100;
        padding: 2%;


}
h1 {
        font-family:'Roboto', Arial, Helvetica, sans-serif;
        line-height: 20px;
        font-weight: 100;
        color: black;
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    
        
}
    
    
    .picture {
        border-radius: 30%;
        margin-left: 180px;
        line-height: 40px;
        margin-bottom: 10px;
        margin-top: 40px;
        width: 200px;
        float: left;
        
        
    }

    .font-style { 
        display: inline-block;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-left: 40px;
        position: absolute;
        top: 60px;

        

    }

    h3  {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        line-height: 10px;
        margin-left: 100px;
        height: auto;
        width:  150.px;
        margin-bottom: 20px;
        margin-top: 50px;


    }


    .button { 
        padding: 10px 20px;
        text-decoration: none;
        background-color: rgba(16, 162, 230, 0.952);
        color: #fff;
        margin-left: 200px;
        border-radius:10%;
        
    
    }

    .list-style {
        margin-left: 100px;
        height: auto;
        margin-top: 30px;

    }
    
    .pic-test {
        
        height: 350px;
        position: relative;
        background-color: azure;
       

        
    }

    .where-findme {

        margin-top: 60px;
        margin-bottom: 40px; 
        
        
    }


